<div class="repo-card">
    <div class="title-container">
        <img [src]="repository.owner.avatarUrl" alt="" class="user-image">
        <a>{{ repository.owner.login }}/<b>{{ repository.name }}</b></a>
    </div>
    <p id="description">{{ repository.description}}</p>
    <div class="detailed-repo-info">
        <div class="info-container">
            <div class="repo-info">
                <i class="ph-bold ph-brackets-curly info-tag"></i>
                <p>{{repository.language || "N/A"}}</p>
            </div>
            <p>.</p>
            <div class="repo-info">
                <i class="ph-bold ph-star info-tag"></i>
                <p>{{repository.stargazersCount | shortNumber }}</p>
            </div>
            <p>.</p>
            <p>Updated 47 minutes ago</p>
        </div>
        <div class="repo-info">
            <i class="ph-bold ph-eye info-tag"></i>
            <p>{{repository.watchersCount | shortNumber }}</p>
        </div>
    </div>
</div>