<div class="repo-card">
    <div class="title-container">
        <img [src]="repository.owner.avatarUrl" alt="" class="user-image">
        <a href="{{repository.htmlUrl}}">{{ repository.owner.login }}/<b>{{ repository.name }}</b></a>
    </div>
    <p id="description">{{ repository.description}}</p>
    @if(repository.topics.length) {
    <div class="topic-list-container">
        <ul class="topic-list">
            @for(topic of repository.topics.slice(0, 4); track topic) {
            <li>{{topic}}</li>
            }
        </ul>

        @if (repository.topics.length - repository.topics.slice(0, 4).length > 0) {
        <p class="more-items">+{{repository.topics.length - repository.topics.slice(0, 4).length}}</p>
        }
    </div>
    }
    <div class="detailed-repo-info">
        <div class="info-container">
            <div class="repo-info">
                <i class="ph-bold ph-brackets-curly info-tag"></i>
                <p>{{repository.language || "N/A"}}</p>
            </div>
            <p>.</p>
            <div class="repo-info">
                <i class="ph-bold ph-star info-tag"></i>
                <p>{{repository.stargazersCount | shortNumber }}</p>
            </div>
            <p>.</p>
            <p>{{repository.updatedAt | updatedAt}}</p>
        </div>
        <div class="repo-info">
            <i class="ph-bold ph-eye info-tag"></i>
            <p>{{repository.watchersCount | shortNumber }}</p>
        </div>
    </div>
</div>