.repo-card {
    margin-top: 16px;
    border: 1px solid var(--secondary-color);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        a {
            padding: 0.125rem;
            color: var(--secondary-color);
            text-decoration: 1px dotted;

            b {
                font-family: "Poppins";
                font-weight: bolder;
            }
        }
    }

    #description {
        text-align: justify;
    }

    .user-image {
        width: 2rem;
        border: 1px solid var(--primary-color);
        padding: 0.25rem;
        border-radius: 50%;
    }

    .detailed-repo-info {
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;





        .info-container {
            gap: 1rem;
            display: flex;
            align-items: center;


        }

    }

    .detailed-repo-info:first-child {
        flex: 1
    }

    .repo-info {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }

    .info-tag {
        font-size: 1rem;
        color: var(--primary-color);
    }
}