<div class="repo-card">
    <div class="title-container">
        <img src=" https://avatars.githubusercontent.com/u/100000031?v=4" alt="" class="user-image">
        <a>JOAO-LEE/<b>my-todo-app-with-a-timer</b></a>
    </div>
    <p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet illum molestiae ipsam nisi nihil
        architecto ipsa beatae corrupti eos modi dolorem impedit repellat et non repellendus, dolor quo praesentium
        aperiam.
        Neque illo porro reiciendis corrupti, deserunt qui sed suscipit omnis, assumenda commodi minus dolore excepturi
        voluptas? Veniam quas sed debitis libero porro rerum eligendi quibusdam vitae! Eaque error delectus illo!</p>
    <div class="detailed-repo-info">
        <div class="repo-info">
            <i class="ph-bold ph-brackets-curly info-tag"></i>
            <p>TypeScript</p>
        </div>
        <p>.</p>
        <div class="repo-info">
            <i class="ph-bold ph-star info-tag"></i>
            <p>50k</p>
        </div>
        <p>.</p>
        <p>Updated 47 minutes ago</p>
    </div>
</div>