<header>
    <form (ngSubmit)="submit()" class=" search-form">
        <div class="input-container">
            <input type="text" name="search" class="search-field" spellcheck="false" placeholder="Search repositories"
                [value]="query()" (input)="query.set($any($event.target).value)">
            <button class="search-button"><i class="ph ph-magnifying-glass"></i></button>
        </div>
    </form>
    <div class="hint">
        <i class="ph-bold ph-lightbulb"></i>
        <p>Search for a Github repository! Type anything.</p>
    </div>
</header>