<div>
    <div class="action-buttons-container">
        <button [disabled]="isPreviousDisabled()" (click)="onPrevious()" class="action-button"><i
                class="ph-bold ph-caret-left"></i>
            previous</button>
        <button [disabled]="isNextDisabled()" (click)="onNext()" class="action-button">next <i
                class="ph-bold ph-caret-right"></i></button>
    </div>
    <div class="page-numbers">
        @for (pageNum of getVisiblePages(); track $index) {
        @if (isEllipsis(pageNum)) {
        <span class="ellipsis">...</span>
        } @else {
        <button [disabled]="+pageNum === page + 1" class="page-nums" (click)="onPageClick(+pageNum)">
            {{ pageNum }}
        </button>
        }
        }
    </div>
</div>